:root {
  --title-font-stack: 'Montserrat', sans-serif;
  --primary-font-stack: 'Roboto', sans-serif;
}

body {
  margin: 0px;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*-----Навигация-----*/
.container {
  max-width: 1170px;
  padding-right: 12px;
  padding-left: 12px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  min-height: 500px;
}

.page-nav {
  position: absolute;
  padding-top: 20px;
  padding-right: 26px;
  padding-left: 26px;
  padding-bottom: 26px;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .page-nav {
    width: 540px;
    left: 20%;
    display: flex;
    padding: 0;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    margin-top: 37px;
  }
}

@media screen and (min-width: 1140px) {
  .page-nav {
    width: 940px;
  }
}

.logo {
  display: block;
  font-size: 20px;
  color: #ffffff;
  font-family: var(--title-font-stack);
  text-align: center;
  text-decoration: none;
}

.site-nav {
  display: flex;
  list-style: none;
}

.site-nav a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}

.site-nav-list {
  margin-right: 15px;
  margin-left: 15px;
  width: 90px;
  height: 36px;
  border: 2px solid rgb(0, 0, 0, 0);
  border-radius: 18px;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.site-nav-list:hover {
  border: 2px solid #ffffff;
  border-radius: 18px;
}

/*-----HERO----------*/
.hero-container {
  min-height: 540px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(170, 166, 165);
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.2)
    ),
    url(../images/hero/mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .hero-container {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.2)
      ),
      url(../images/hero/tablet.png);
  }

  .hero h1 {
    font-size: 52px;
  }

  .hero p {
    font-size: 24px;
  }

  .hero a {
    width: 225px;
    font-size: 14px;
  }
}

.hero {
  max-width: 800px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  color: #ffffff;
  font-family: var(--title-font-stack);
  text-align: center;
}

.hero-text {
  margin-top: 0;
  font-size: 18px;
  color: #ffffff;
  font-family: var(--primary-font-stack);
  text-align: center;
}

.hero-link {
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 280px;
  height: 40px;
  border-radius: 20px;
  background-color: #ff4e50;
  border: 2px solid #ff4e50;
  font-size: 14px;
  color: #ffffff;
  font-family: var(--title-font-stack);
  text-align: center;
  text-decoration: none;
}

.hero-link:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #ff4e50;
}

/*------СЕКЦИЯ---------*/
.section {
  padding-top: 67px;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 470px;
  }

  .features {
    display: flex;
    flex-wrap: wrap;
  }

  .features-item {
    flex-basis: calc(100% / 2 - 20px);
  }

  .feauters .features-item:nth-child(2n) {
    margin-right: 0;
  }

  .features-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

.section-link {
  display: block;
}
@media screen and (min-width: 1170px) {
  .hero-container {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.2)
      ),
      url(../images/hero/desktop.png);
  }

  .container {
    width: 942px;
  }

  .features-item {
    flex-basis: calc(100% / 4 - 20px);
  }

  .features-item:nth-child(4n) {
    margin-right: 0;
  }

  .features-item:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
}

.features {
  padding: 0;
  margin: 0;
  list-style: none;
}

.title {
  margin-top: 0;
  font-size: 22px;
  color: #333333;
  font-family: var(--title-font-stack);
  text-align: center;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text {
  font-size: 14px;
  color: #666666;
  font-family: var(--primary-font-stack);
  text-align: center;
}
.section-title {
  margin: 0;
  font-size: 14px;
  color: #333333;
  font-family: var(--title-font-stack);
  text-align: center;
}

.section-button {
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 280px;
  height: 40px;
  border-radius: 20px;
  background-color: #ffffff;
  border: 2px solid #ff4e50;
  font-size: 14px;
  color: #ff4e50;
  font-family: var(--title-font-stack);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.section-button:hover {
  background-color: #ff4e50;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .section-button {
    margin-top: 35px;
    width: 192px;
    height: 40px;
  }
}
.features-item {
  margin-bottom: 30px;
  margin-right: 20px;
  list-style-type: none;
  text-align: center;
}

.image {
  margin-bottom: 20px;
}

.features-item {
  position: relative;
}

.features-item .overlay::after {
  position: absolute;
  top: 40%;
  left: 60%;
  width: 34px;
  height: 34px;
  border-radius: 16px;
  border: 4px solid #ffffff;
  content: '';
  background-image: url(../images/icons/tv.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1);
  transition: transform 250ms;
}

.features-item .overlay-bottle::after {
  position: absolute;
  top: 40%;
  left: 60%;
  width: 34px;
  height: 34px;
  content: '';
  background-image: url(../images/icons/bottle.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  border: 4px solid #ffffff;
  transform: scale(1);
  transition: transform 250ms;
}

.features-item .overlay-cup::after {
  position: absolute;
  top: 40%;
  left: 60%;
  width: 34px;
  height: 34px;
  content: '';
  background-image: url(../images/icons/cup.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  border: 4px solid #ffffff;
  transform: scale(1);
  transition: transform 250ms;
}

.features-item .overlay-air::after {
  position: absolute;
  top: 40%;
  left: 60%;
  width: 34px;
  height: 34px;
  content: '';
  background-image: url(../images/icons/air.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  border: 4px solid #ffffff;
  transform: scale(1);
  transition: transform 250ms;
}

.features-item:hover .overlay::after {
  transform: scale(1.05);
}

.features-item:hover .overlay-bottle::after {
  transform: scale(1.05);
}

.features-item:hover .overlay-cup::after {
  transform: scale(1.05);
}

.features-item:hover .overlay-air::after {
  transform: scale(1.05);
}
